.add-device1 {
  position: absolute;
  top: 32px;
  left: 40px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
}
.cancel-add,
.create-add {
  position: absolute;
  top: 32px;
  left: 1175px;
  cursor: pointer;
}
.cancel-add {
  left: 1088px;
}
.device-add-name-text {
  border: 0;
  background-color: transparent;
  position: absolute;
  height: calc(100% - 24px);
  width: calc(100% - 1px);
  top: 23px;
  right: 1px;
  bottom: 1px;
  left: 0;
}
.device-name-add {
  position: absolute;
  width: calc(100% - 64px);
  top: 84px;
  right: 32px;
  left: 32px;
  background-color: var(--color-gray-300);
  height: 59px;
}
.date-of-purchase {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
}
.date-add {
  position: absolute;
  width: calc(100% - 64px);
  top: 250px;
  right: 32px;
  left: 32px;
  background-color: var(--color-gray-300);
  height: 59px;
}
.device-information {
  position: absolute;
  top: 33px;
  left: 72px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-epilogue);
  color: var(--color-darkslategray-200);
}
.device-info-add-logo-icon {
  position: absolute;
  top: 34px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.brand-add-text,
.note-add {
  position: absolute;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
}
.note-add {
  width: calc(100% - 64px);
  top: 345px;
  right: 32px;
  left: 32px;
  font-weight: 700;
  color: var(--color-darkslategray-100);
}
.brand-add-text {
  border: 0;
  background-color: transparent;
  height: calc(100% - 24px);
  width: calc(100% - 1px);
  top: 23px;
  right: 1px;
  bottom: 1px;
  left: 0;
  color: var(--color-gray-200);
}
.brand-add,
.device-info-add {
  position: absolute;
  top: 166px;
  left: 32px;
  background-color: var(--color-gray-300);
  width: 336px;
  height: 59px;
}
.device-info-add {
  top: 106px;
  left: 40px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 588px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.device-parameters {
  position: absolute;
  top: 32px;
  left: 72px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-epilogue);
  color: var(--color-darkslategray-200);
}
.condition {
  position: absolute;
  top: 167px;
  left: 31px;
  background-color: var(--color-gray-300);
  width: 336px;
  height: 59px;
}
.device-parameters-add {
  position: absolute;
  top: 106px;
  left: 459px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 588px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.acessories-included {
  position: absolute;
  top: 32px;
  left: 72px;
  line-height: 28px;
}
.note-add1 {
  position: absolute;
  top: 72px;
  left: 24px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--color-silver);
}
.acessories-add-device {
  position: absolute;
  top: 106px;
  left: 876px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 383px;
  height: 588px;
  font-size: var(--font-size-lg);
}
.add-device {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-epilogue);
}
