.confirm-change-pass {
  position: absolute;
  width: calc(100% - 80px);
  right: 44px;
  bottom: 83px;
  left: 36px;
  cursor: pointer;
}
.please-set-your {
  position: absolute;
  top: 282px;
  left: calc(50% - 103px);
  line-height: 22px;
}
.change-password1 {
  position: absolute;
  top: 224px;
  left: calc(50% - 178px);
  font-size: var(--font-size-21xl);
  line-height: 56px;
  color: var(--color-darkslategray-200);
}
.password-1-icon {
  position: absolute;
  top: 77px;
  left: 223px;
  width: 116px;
  height: 116px;
  overflow: hidden;
}
.current-pass,
.new-pas {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 335px;
  left: 26px;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.new-pas {
  top: 432px;
}
.change-pass-box {
  position: absolute;
  top: 12px;
  left: 352px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  width: 576px;
  height: 695px;
}
.admin-change-password {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  height: 720px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
